<div class="dropzone" appDragDrop (fileDropped)="onFileDropped($event)">
  <input type="file" #fileInputRef id="fileInputRef" (change)="onFileInputChange($event.target)" />
  <label for="fileInputRef">
    <strong><i class="fa fa-hand-pointer-o"></i> choose a file</strong>
  </label>
  <div *ngIf="canDropUpload">
    or
    <span class="drag-instructions">drag it here</span>
  </div>
</div>
