:host {
  z-index: 1;
}
div.dropzone {
  align-items: center;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  outline: 2px dashed var(--main-color);
  outline-offset: -15px;
  transition: background-color .2s, color .25s, opacity .25s;
  width: 100%;

  &.busy {
    opacity: 0;
    pointer-events: none;
  }

  input[type=file] {
    height: 0;
    opacity: 0;
    width: 0;
  }
  label {
    cursor: pointer;
    margin-bottom: 1rem;
  }

  &:not(.busy) {
    label:hover {
      color: var(--hover-color-good, #eee)
    }
  }

  &.fileover:not(.busy) {
    outline-color: var(--hover-color-good);

    .drag-instructions {
      color: var(--hover-color-good);
    }
  }
}
