.message-ct {
  margin-top: 8rem;

  > div {
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 1px 1px 4px #0008;
    color: #333;
    margin: 1rem;
    padding: 1rem;
    position: relative;

    &.error {
      color: var(--main-color);
      background-color: #a00;
    }
    &.warning {
      background-color: #fa0;
    }
  }
}
