:host {
  opacity: 1 !important;
  pointer-events: none !important;
  z-index: 10 !important;

  h1 {
    display: inline-block;
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    position: fixed;
    right: 3rem;
    text-align: right;
    top: 3rem;
    transition: all .5s;
  }

  &.active {
    h1 {
      color: var(--main-color-highlight);
      font-size: 3rem;
      right: 6rem;
      padding: 1rem 1rem 1rem 6rem;
      top: calc(50vh - 1.5rem);
    }
  }
}


.depth {
  color: black;
  position: relative;
}
.depth:before, .depth:after {
  content: attr(title);
  color: rgba(255,255,255,.1);
  position: absolute;
}
.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }
