.fullscreen-layers > * {
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity .3s;
  width: 100vw;
  z-index: 0; // overwrite this for each layer as necessary

  &.active {
    opacity: 1;
    pointer-events: initial;
  }
}
