<div id="app" class="fullscreen-layers">
  <app-splash-screen [class.active]="(selectorsService.activeLayer$ | async) === LayerId.Splash"></app-splash-screen>
  <app-loading-layer [class.active]="(selectorsService.activeLayer$ | async) === LayerId.Loading"></app-loading-layer>
  <app-file-drop-overlay [class.active]="(selectorsService.activeLayer$ | async) === LayerId.FileDrop"
                         (errorThrown)="onFileDropErrorThrown($event)"
                         (fileUploaded)="onFileDropped($event)">
  </app-file-drop-overlay>
  <app-map [class.active]="(selectorsService.activeLayer$ | async) === LayerId.Map"></app-map>
  <app-log-screen [class.active]="(selectorsService.activeLayer$ | async) === LayerId.Messages"></app-log-screen>
</div>
