<div class="map-ct">
  <svg width="100%" height="100%" [class.auto-transition]="autoTransitionState !== 'done'" #map>
    <g class="map-transform" #mapTransform>
      <g class="map-content" #mapContent>
        <g class="grid-lines"></g>
        <g class="systems" #systems></g>
        <g class="jump-rings" [class.opaque]="!!focusedObject">
          <circle cx="0" cy="0" r="30"></circle>
        </g>
      </g>
    </g>
  </svg>
<!--  [class.visible]="focused"-->
  <div class="focus-callout"
       *ngIf="mapReady && !!focusedObject"
       [ngStyle]="{ left: focusedObjectScreenCoordinates.x + 'px', top: focusedObjectScreenCoordinates.y + 'px' }">
    <span>{{focusedObject?.name}}</span>
    <span>({{focusedObject?.x.toFixed(2)}}, {{focusedObject?.y.toFixed(2)}})</span>
  </div>
  <div class="coordinates-info">cursor at
    ({{cursorPositionMapCoordinates.x.toFixed(2)}},
    {{cursorPositionMapCoordinates.y.toFixed(2)}})
  </div>
</div>

