:host {
  position: relative;
  z-index: 11 !important;
}
.map-ct {
  height: 100vh;
  position: absolute;
  width: 100vw;
}
svg {
  cursor: crosshair;
  height: 100%;
  width: 100%;

  &.auto-transition .map-transform {
    transition: transform .5s;
  }

  .grid-lines {
    line {
      stroke: #888888;
      &.main {
        stroke: #707070;
      }
    }
  }

  .systems {
    .system-point {
      stroke: #fff;
      fill: #0008;
      transition: r .2s, fill .4s;
      &.selected {
        fill: var(--selection-color);
      }
    }
  }

  .jump-rings {
    opacity: 0;
    transition: opacity .2s;

    circle {
      fill: none;
      stroke: var(--selection-color);
    }

    &.opaque {
      opacity: 1;
    }
  }
}
.coordinates-info {
  background-color: var(--callout-background);
  border-top-left-radius: .25rem;
  bottom: 0;
  color: var(--callout-color);
  font-family: var(--callout-font);
  font-size: .75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  min-width: 5rem;
  padding: 0 1rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  user-select: none;
}
.focus-callout {
  background-color: red;
  color: var(--callout-color);
  left: 0;
  padding: .5rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(15px, -20px);
  transition: top .25s, left .25s, opacity .25s;
  user-select: none;

  span {
    display: block;
    white-space: nowrap;
  }

  &::before {
    background-color: red;
    content: '';
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-5px, 15px) rotate(45deg);
    width: 10px;
  }
}
