:host {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  user-select: none;
  z-index: 9;
}
:host.active {
  span.dot {
    animation-name: jump;
  }
}
span.dot {
  animation-duration: .6s;
  animation-iteration-count: infinite;
  display: inline-block;
}
span.dot:nth-of-type(2) {
  animation-delay: .1s;
}
span.dot:nth-of-type(3) {
  animation-delay: .2s;
}
span.dot:after {
  content: '.';
}

@keyframes jump {
  0%   { transform: translateY(0) }
  20%  { transform: translateY(-.1em) }
  40% { transform: translateY(.05em) }
  50% { transform: translateY(0) }
}
