@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Cousine&family=Montserrat:wght@100;200;300&display=swap');

// Variable definition
html {
  --body-font: 'Montserrat', sans-serif;
  --title-font: 'Montserrat Subrayada', sans-serif;
  --main-background: #9b9b9b;
  --main-color: #ddd;
  --main-color-highlight: #e0e8e0;
  --callout-background: #707070;
  --callout-color: #f0f0f0;
  --callout-font: 'Cousine', monospace;
  --hover-color-good: #8f8;
  --selection-color: #a00;
}

html, body {
  font-family: var(--body-font, sans-serif);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background);
  color: var(--main-color);
  overflow: hidden;
}
